  GNU nano 5.6.1                                                       .my.cnf                                                                 
#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]
[client]
user=ahmad
password=Iloveuae1
#
# include all files from the config directory
#
!includedir /etc/my.cnf.d


